@media (prefers-color-scheme: dark) {
    .icon img {
        filter: invert(100%);
    }

    .level,
    .footer {
        /* background-color: #CFCFCF; */
        background-color: #2D2D2D;
    }
}

@media (prefers-color-scheme: light) {

    .level,
    .footer {
        background-color: #CFCFCF;
        /* background-color: #2D2D2D; */
    }
}

:root {
    --darken: rgba(0, 0, 0, 0.4);
}

body,
.back-bar,
/* .navbar,
.navbar-menu, */
.input,
#loginForm {
    background-color: var(--bulma-scheme-main);
}

.navbar,
.navbar-menu
{
    background-color: rgba(0,0,0,0);
}


.bottomLabel {
    color: white;
    background-color: var(--darken);
}

/* .label {
    background-color: var(--bulma-scheme-main);
    color: black;
    } */

.linkButton:hover {
    background-color: var(--darken);
}

.currentNav {
    background-color: #4bb4ff !important;
}

#loginButton * {
    color: rgba(7, 139, 255, 1);
}

#loginButton:hover, .projectsButton:hover {
    border-color: #4bb4ff;
    background-color: var(--darken);
}

.navbar-start a {
    color: #4bb4ff;
    border: #2D2D2D solid 3px;
}

.navbar-start a:hover,
.navbar-start a:focus {
    outline: 5px solid #4bb4ff;
}

.submit {
    background-color: #4bb4ff;
    color: white;
    border-color: #30a9ff;
}

.tile {
    border: var(--bulma-scheme-main) solid 5px;
}

.tileHover {
    outline: 5px solid #4bb4ff;
    border-radius: 1px;
}

#errorBox {
    color: red;
}