#homeMain {
    position: absolute;
    top: 0;
    display: flex;
    gap: 3rem;
    height: 100%;
    width: 100%;
}

#featuredList { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rem solid black;
    flex-grow: 1;
}

#featureLabel {
    background-color: black;
    padding: 2rem;
    white-space: nowrap;
    width: 100%;
    text-align: center;

    flex-grow: 1;
}

#projects {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
    padding: 0.8rem;

    flex-grow: 3;
}

.featuredTile {
    position: relative;
    flex-grow: 1;
    min-height: 6rem;
    width: 100%;
}

.featuredTile:hover {
    outline: 5px solid #4bb4ff;
}

.bottomLabel {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.projectsButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid var(--darken);
    border-radius: 500px;
    padding: 2rem;
    max-width: 15vw;
    min-width: 10vw;
    aspect-ratio: 1/1;
}

#aboutMe {
    position: relative;
    flex-grow: 6;

    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    position: absolute;
    padding: 2rem;
    left: 2rem;
    top: 4rem;
}

