body {
    background-color: white;
}

.back-bar {
    background-color: white;
}

.navbar {
    background-color: white;
}

.navbar-start a {
    color: #4bb4ff;
}

.navbar-start a:hover, 
.navbar-start a:focus {
    color: white;
    background-color: #4bb4ff;
}

.navbar-menu {
    background-color: white;
}

.submit{
    background-color: #4bb4ff;
    color: white;
    border-color: #30a9ff;
}

.projectTile {
    color: black;
}

.tileHover {
    outline: 5px solid #4bb4ff;
    border-radius: 1px;
}

/* .projectList {
    background-color: rgba(0, 0, 0, 0.5);
} */

.label {
    background-color: white;
    color: black;
}

.input {
    background-color: white;
}

#loginForm {
    background-color: white;
}

#errorBox {
    color: red;
}

.level {
    background-color: #CFCFCF;
}

.linkButton:hover {
    background-color: rgba(0,0,0, 0.4);
}

.footer {
    background-color: #CFCFCF;
}