@import "./colors.css";
@import "./projectPopup.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

form {
    margin: 2rem;
    padding: 1rem;
}
/* 
li:has(.emptyTile){
    max-width: 50%;
} */

.projectTile {
    max-width: 25vw;
    min-width: 20vw;
    aspect-ratio: 1/1;
    /* Possibly replace background color with a template photo */
    background-color: rgba(7, 139, 255, 0.441);
    background-position: center;
    background-size: "cover";
    /* margin-right: 10rem; */
}

.tileLabel {
    text-align: center;
    position: relative;
    top: -13%;
    font-weight: 300;
    color: rgba(7, 139, 255, 1);
    user-select: none;
}

.projectList {
    padding: 16px;
    padding-top: 42px;
    margin-top: 8rem;
}

#errorBox {
    padding: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#loginForm {
    /* width: 50%; */
    padding: 30px 50px;
    justify-self: center;
    border: 1px solid black;
    border-radius: 6px;
}

.submit {
    text-align: center;
}

.hidden {
    display: none;
}